* {
    box-sizing: border-box;
  }
  .container{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 10px;
    background-color: cornsilk;
    border: 1px solid lightblue;
    border-radius: 5px;  
    margin-top: 50px;  
}



