<h4 style="margin: auto;">Dealer Registration Details</h4>
<div class="container">
    <div class="form-group">
        <div class="col-25">
            <label>Select</label>
        </div>
        <div class="col-75">
            <p-dropdown [options]="measureData" [(ngModel)]="measureValue" optionLabel="measureName"></p-dropdown>
        </div>
    </div>
    <div class="form-group">
        <div class="col-25">
            <label>Area</label>
        </div>
        <div class="col-75">
            <input class="col-6" type="text" pInputText [(ngModel)]="Area" />
        </div>
    </div>
    <button (click)="saveFrmregistration()">Save</button>
</div>